BorderPane {
    -fx-padding: 75 95 75 95;
}

VBox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

Label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-pref-height: 45;
}

Button {
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-background-color: transparent;
    -fx-text-fill: #00ff55;
    -fx-border-color: #00ff55;
}

Button: hover {
    -fx-effect: dropshadow(gaussian, white, 10, 0, 0, 0);
}

.index {
    -fx-pref-width: 45;
}

.avatar {
    -fx-pref-width: 45;
}

.name {
    -fx-pref-width: 500;
}

.score {
    -fx-pref-width: 100;
}

.date {
    -fx-pref-width: 200;
}

.header {
    -fx-text-fill: white;
    -fx-background-color: black;
}

.self {
    -fx-text-fill: black;
    -fx-background-color: orange;
}

.odd {
    -fx-text-fill: #aaaaaa;
    -fx-background-color: black;
}

.even {
    -fx-text-fill: white;
}

#exit {
    -fx-text-fill: #ff2200;
    -fx-border-color: #ff2200;
}