TextField {
    -fx-pref-width: 150;
}

#messageTextField {
    -fx-pref-width: 650;
    -fx-min-height: 40;
    -fx-translate-y: -10;
}

#leftSideButtons {
    -fx-pref-width: 50;
    -fx-pref-height: 35;
}

#leftSideBar {
    -fx-spacing: 5;
}

VBox {
    -fx-spacing: 12;
}